<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1048002386325-8q2hgf5e01qtfvv6u2d11aho5qh7os91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048002386325-8q2hgf5e01qtfvv6u2d11aho5qh7os91</string>
	<key>API_KEY</key>
	<string>AIzaSyDwGzmHlB7KsPopm5IvWMwM25EAQLJ1_5M</string>
	<key>GCM_SENDER_ID</key>
	<string>1048002386325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luismachado.MyChat</string>
	<key>PROJECT_ID</key>
	<string>mychat-8da06</string>
	<key>STORAGE_BUCKET</key>
	<string>mychat-8da06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048002386325:ios:b889736d116a2b35</string>
	<key>DATABASE_URL</key>
	<string>https://mychat-8da06.firebaseio.com</string>
</dict>
</plist>